body{background-color: #e7e7e7;}
.share-area{width: 500px;margin: 100px auto;background: #fefefe;border: 1px solid #cfcfcf;padding:40px 40px 40px 40px}
.share-area p{margin-bottom: 20px;}
#password {width: 320px;}
