<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YouPan-你的云上优盘</title>
	<link type="image/x-icon" rel="shortcut icon" href="__PUBLIC__/img/favicon.ico" />
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/common.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js" ></script>
</head>
<body>
	<include file="Public:share_head" />
	{__CONTENT__}
	<include file="Public:foot" />
</body>
</html>
